.product,
.selector {
  &__pledge {
    border: 1px solid red;
    padding: 1.5rem;

    &[data-state='inactive'] {
      opacity: 0.5;
    }
  }
}

.container {
  width: min(100% - (2 * var(--site-padding)), var(--site-width));
  margin-inline: auto;
}

.card {
  margin-bottom: var(--card-gap);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  background-color: var(--neutral-100);
}
